.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 3px;
    width: 160px;
    justify-content: center;
}